Django==1.8.17
psycopg2
django-easy-pdf
git+https://github.com/chrisglass/xhtml2pdf.git
xlwt
openpyxl
markdown
django-markupfield
django-bootstrap3
django-selectable
django-crispy-forms
django-bootstrap-dynamic-formsets
django-allauth
django-jsonview
xlsxwriter
gunicorn
celery
django-celery-results